/* DEFAULTS */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: auto;
    padding: 0;
    font-family: "IBM Plex Serif", serif;
    font-size: 1rem;
    font-weight: normal;
    line-height: 2;
}

:root {
    --pink: #FF69B4;
    --light-grey: #F2F2F2;
    --dark-grey: #A4A4A4;
}

h1 { color: var(--pink); }

h2 { color: var(--dark-grey); }

hr {
    width: 50%;
    margin: auto;
    background-color: var(--dark-grey);
    opacity: 50%;
}

#highlight span {
    padding: 0.3rem 0.5rem;
    padding: 0.6rem;
    border-radius: 25px;
    background-color: var(--pink);
}

.wrapper {
    margin-bottom: 4rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper-no-margin {
    margin-bottom: 0;
}

.text-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.text-block { padding: 2rem 0; }

/* Defaults - Media Query */
@media screen and (max-width: 1280px) {
    body {
        font-size: 0.8rem;
    }

    .text-container { width: 80%; }

    h1 { font-size: 1.7rem; }

    h2 { font-size: 1.2rem; }
}

/* Content */
.content-content-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-content-image img {
    max-width: 50%;
    padding: 2rem 0 2rem 0;
}

/* Content - Media Query */
@media screen and (max-width: 1280px) {
    .content-container {
        width: 80%;
    }

    .content-content-image img {
        max-width: 80%;
        padding: 1rem 0 1rem 0;
    }
}

/* Component: Showcase */
.showcase-container {
    width: auto;
    margin: 10px;
    display: grid;
    justify-content: space-around;
    grid-template-columns: 0.7fr 0.7fr 0.7fr 0.7fr;

}

.showcase-card {
    height: auto;
    width: 280px;
    margin: 1rem;
    padding: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    line-height: 1;
}

.showcase-card img {
    max-width: 100%;
    padding: 0;
}

.category {
    font-size: 0.7rem;
    color: var(--dark-grey);
}

@media screen and (max-width: 1280px) {
    .showcase-container {
        grid-template-columns: 1fr;
    }
}

/* Component: Select Box */
select {
    width: 200px;
    padding: 1rem;
    border: #FFFFFF;
}

/* Events */
.showcase-events {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.showcase-events-item {
    padding: 1rem 2rem;
    margin-bottom: 2rem;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

@media screen and (max-width: 1280px) {
    .showcase-events-item {
        padding: 0.5rem 1rem;
        width: 90%;
    }
}

